 .cabecalho {
     background-color: hwb(0 6% 94%);
     color:rgb(43, 226, 217)
     text-align: center;
     max: width 800px;
 }

 .conteudo-principal{
     background-color: hwb(0 6% 94%);
     color:rgb(18, 24, 23)
 }